<div class="bg-black">
  <div class="mx-auto max-w-2xl px-4 py-16 sm:px-6 sm:py-20 lg:max-w-7xl lg:px-8">
    <h2 class="text-4xl font-bold tracking-tight text-white">Estrenos en cartelera</h2>


    <div class="mt-10 mx-auto max-w-7xl px-8 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-3 xl:gap-x-8">
      <div class="pelicula1 w-64 mx-auto">
        <img
            src="IMG/Minecraft.jpg"
            alt="Front of men's Basic Tee in black."
            class="h-80 w-60 object-cover mx-auto"
        />
        <div class="mt-4 flex justify-between text-white text-xl font-medium">
            <h3>Minecraft</h3>
            <span>$35</span>
        </div>
            <!-- Botón VER HORARIOS -->
            <a
            href="#"
            class="mt-2 inline-block w-full bg-red-600 text-white text-sm font-medium py-2 text-center hover:bg-red-700 transition duration-200"
            >
            VER HORARIOS
            </a>
      </div>

      <div class="pelicula2 w-64 mx-auto">
        <img
            src="IMG/Minecraft.jpg"
            alt="Front of men's Basic Tee in black."
            class="h-80 w-60 object-cover mx-auto"
        />
        <div class="mt-4 flex justify-between text-white text-xl font-medium">
            <h3>Minecraft</h3>
            <span>$35</span>
        </div>
            <!-- Botón VER HORARIOS -->
            <a
            href="#"
            class="mt-2 inline-block w-full bg-red-600 text-white text-sm font-medium py-2 text-center hover:bg-red-700 transition duration-200"
            >
            VER HORARIOS
            </a>
      </div>

      <div class="pelicula3 w-64 mx-auto">
        <img
            src="IMG/Minecraft.jpg"
            alt="Front of men's Basic Tee in black."
            class="h-80 w-60 object-cover mx-auto"
        />
        <div class="mt-4 flex justify-between text-white text-xl font-medium">
            <h3>Minecraft</h3>
            <span>$35</span>
        </div>
            <!-- Botón VER HORARIOS -->
            <a
            href="#"
            class="mt-2 inline-block w-full bg-red-600 text-white text-sm font-medium py-2 text-center hover:bg-red-700 transition duration-200"
            >
            VER HORARIOS
            </a>
      </div>


    </div>
  </div>
</div>


